%h1= @gallery.name

%ul#image_sortable
  - @gallery.images.in_order.each do |image|
    %li{:style => "background: #7D7B56 url('#{image.thumb}') no-repeat left top;", :id => "image_#{image.id}"}
      .delete= destroy_entity_image admin_image_path(image)
.clear

.post
  %h1 Upload New Image
  = render :partial => 'admin/galleries/form'

.image_links
  = index_entity_image admin_galleries_path, "Back to Galleries Index"
