= form_for([:admin, @block]) do |f|
  = error_messages(@block)

  .field
    = f.label :body
    %br
    = f.text_area :body

  - begin
    = render @block.label
  - rescue ActionView::MissingTemplate

  .actions
    %label Actions
    = f.submit "Save"
