%h1 Other Sections

= collection_index @blocks, ["Body", "Label", "Path", "Actions"] do |block|
  %tr
    %td= block.body
    %td= block.label
    %td= block.path
    %td= edit_entity_image([:edit, :admin, block])
