.post
  %h1 Authorized Admin Email Addresses
  %h3 &nbsp;

  = collection_index @authorized_emails, ["Email", "Actions"] do |authorized_email|
    %tr{:class => row_class}
      %td= authorized_email.email
      %td{:width => "40"}
        - if current_user.email != authorized_email.email
          = destroy_entity_image([:admin, authorized_email])

.post
  %h1 Grant Access
  %h3 &nbsp;

  .body
    %p Currently, only Google email addresses are supported.

    = form_for [:admin, AuthorizedEmail.new] do |f|
      .field
        = f.label :email
        = f.text_field :email, size: 30

      .actions
        %label Actions
        = f.submit 'Save'
