= form_for [:admin, @event] do |f|
  = error_messages(@event)
  
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :starts_at
    = f.datetime :starts_at, :class => "datepicker"
  .field
    = f.label :ends_at
    = f.datetime :ends_at, :class => "datepicker"

  = f.image

  .actions
    %label Actions
    = f.submit 'Save'
    = f.submit 'Preview'
