%h1 Events

= collection_index @events, ["Title", "Status", "Description", "Starts at", "Ends at", "Actions"] do |event|
  %tr
    %td= event.title
    %td= event.status
    %td= event.description
    %td= event.starts_at
    %td= event.ends_at
    %td
      = show_entity_image [:admin, event]
      = edit_entity_image [:edit, :admin, event]
      = destroy_entity_image [:admin, event]

%br

= link_to 'New Event', new_admin_event_path
