%h1 Events

= collection_index @events, ["Title", "Status", "Description", "Starts at", "Ends at", "Actions"] do |event|
  %tr{:class => cycle("odd", "even")}
    %td= event.title
    %td= event.status
    %td= event.description
    %td= event.starts_at
    %td= event.ends_at
    %td
      = edit_entity_image [:edit, :admin, event]
      = destroy_entity_image [:admin, event]

%br

= new_entity_image new_admin_event_path, "Create New Event"
