%h1 Change Password

= form_tag change_password_admin_sessions_path, :method => :post do
  - if flash[:error]
    #error_explanation
      %h2 Could not change password.

      %ul
        %li= flash[:error]
  - if flash[:notice]
    #notice= flash[:notice]

  .field
    = text_field_tag :password

  .field
    = text_field_tag :password_confirm

  .actions
    = submit_tag "Change Password"
