= form_for [:admin, @link] do |f|
  = error_messages(@link)

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :url
    = f.text_field :url, value: (f.object.url.blank? ? "http://" : f.object.url)
    = link_to image_tag("/images/icons/link_preview.png", alt: "Preview", class: "no_border") + "Preview", "", title: "Preview", class: "preview-link"
  .field
    = f.label :description
    = f.text_area :description
    
  .actions
    %label Actions
    = f.submit 'Save'
