%h1 Links

= collection_index @links, ["Title", "URL", "Description", "Actions"] do |link|
  %tr
    %td= link.title
    %td= link_to link.url, link.url
    %td= link.description
    %td
      = edit_entity_image [:edit, :admin, link]
      = destroy_entity_image [:admin, link]

%br

= new_entity_image new_admin_link_path, "Create New Link"

