- content_for :js do
  :javascript
    $(document).ready(function(){
      $("#sortable_table tbody").sortable(
        {
          update: function () {
            stripe_table(this);
          
            data = $("#sortable_table tbody").sortable('serialize');
          
            $.ajax({
              url: "/admin/links/sort",
              type: "post",
              data: data,
              error: function(){
                alert("There was an error sorting links. Contact administrator.");
              }
            });
          }
        }).disableSelection();
    });
  

%h1 Links

= collection_index @links, ["Title", "URL", "Description", "Actions"], :id => "sortable_table" do |link|
  %tr{:class => row_class, :id => "link_#{link.id}"}
    %td= link.title
    %td= link_to link.url, link.url
    %td= truncate_for_index link.description
    %td
      = edit_entity_image [:edit, :admin, link]
      = destroy_entity_image [:admin, link]

.image_links
  = new_entity_image new_admin_link_path, "Create New Link"
