%h1 Listing links

%table
  %tr
    %th Title
    %th Url
    %th Description
    %th Actions

  - @links.each do |link|
    %tr
      %td= link.title
      %td= link.url
      %td= link.description
      %td
        = link_to 'Show', [:admin, link]
        = link_to 'Edit', edit_admin_link_path(link)
        = link_to 'Destroy', [:admin, link], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Link', new_admin_link_path
