.bar
  %ul
    %li= link_to "Blog", admin_posts_path
    %li= link_to "Shows", admin_events_path
    %li= link_to "Gallery", "#"
    %li= link_to "Links", admin_links_path
    %li= link_to "Other", admin_blocks_path
    %li= link_to "Media", admin_tracks_path
    %li= link_to "Change Password", password_admin_sessions_path
    %li= link_to "Logout", "/admin/logout"

  .clear  
