- if flash[:notice]
  .notice
    = fa_icon('check')
    %p=flash[:notice]
    .clear

- if flash[:error]
  .error
    = fa_icon('times')
    %p= flash[:error]
    .clear

- if alert.present?
  .error
    = fa_icon('times')
    %p= alert
    .clear
