%table.calendar{cellpadding: 0, cellspacing: 0, style: "width: 100%"}
  %tr
    %td.previous{colspan: 2}= pjax_link_to "&#9756;".html_safe, "/events/calendar/#{ calendar.previous_date.year }/#{ calendar.previous_date.month }"
    %td.month{colspan: 3}
      = calendar.month
      = calendar.year
    %td.next{colspan: 2}= pjax_link_to "&#9758;".html_safe, "/events/calendar/#{ calendar.next_date.year }/#{ calendar.next_date.month }"
  %tr
    - calendar.weekdays.each do |day|
      %th= day
  - calendar.table.each do |row|
    %tr
      - row.each do |cell|
        %td{class: cell.css_class }
          %span.date= cell.date
          - if cell.events.any?
            %br
            .events
              - cell.events.each_with_index do |event, index|
                = pjax_link_to fa_icon('star'), event_path(event), class: 'calendar-event-icon', title: "#{ event.title } / #{ event.starts_at.to_s(:time) }"
