%table.calendar
  %tr
    %td.previous{colspan: 2}= link_to "< Back", events_path(month: calendar.previous_date.month, year: calendar.previous_date.year)
    %td.month{colspan: 3}
      = calendar.month
      = calendar.year
    %td.next{colspan: 2}= link_to "Next >", events_path(month: calendar.next_date.month, year: calendar.next_date.year)
  %tr
    - calendar.weekdays.each do |day|
      %th= day
  - calendar.table.each do |row|
    %tr
      - row.each do |cell|
        %td{class: cell.css_class }
          - if cell.events.any?
            - cell.events.each_with_index do |event, index|
              - if index != 0
                %br
              = link_to truncate(event.title, length: (cell.events.size > 1 ? 16 : 34), omission: "..."), event_path(event)
          - else
            %span.date= cell.date
