<div class="post">
  <h1>
    <%= pjax_link_to event.title, event_path(event) %>
  </h1>
  <p class="date">
    <% if event.upcoming? %>
      On
      <%= event.starts_at.to_formatted_s(:event_with_time) %>
    <% elsif event.past? %>
      Happened on
      <%= event.starts_at.to_formatted_s(:event_with_time) %>
    <% else %>
      Today at
      <%= event.starts_at.to_formatted_s(:event_with_time) %>
    <% end %>
  </p>
  <div class="body">
    <%= image_for event, event.title %>
    <%= auto_link(simple_format(event.description)).html_safe %>
    <div class="clear_left"></div>
  </div>
</div>
