.post
  %h1= pjax_link_to event.title, event_path(event)
  %h3
    - if event.upcoming?
      On
      = event.starts_at.to_formatted_s(:event_with_time)
    - elsif event.past?
      Happened on
      = event.starts_at.to_formatted_s(:event_with_time)
    - else
      Today at
      = event.starts_at.to_formatted_s(:event_with_time)

  .body
    = image_for event
    = auto_link(simple_format(event.description)).html_safe
    .clear_left
