= sidebar_sections :gallery, :news

.content
  .post= render partial: "calendar", object: @calendar

  - if @current.any?
    %h2.event Happening Today
    - @current.each do |event|
      = render :partial => "event", object: event

  - if @upcoming.any?
    %h2.event Upcoming Shows
    - @upcoming.each do |event|
      = render :partial => "event", object: event

  - if @upcoming.blank? && @current.blank?
    %h2 No upcoming shows

  %p
    = pjax_link_to "Show archive", archive_events_path
