<%= pjax_layout do %>
  <h2>Collaborators</h2>
  <ul class="collaborators">
    <% @links.each do |link| %>
      <li>
        <p>
          <%= link_to link.display, link.url %>
        </p>
        <%= simple_format(link.description) unless link.description.blank? %>
      </li>
    <% end %>
  </ul>

  <h2>Credits</h2>
  <p>
    <%= link_to "Website", "http://github.com/kmcphillips/gracehrabi.com" %>
    by
    <%= link_to 'Kevin McPhillips', 'http://kevinmcphillips.ca' %>
    and
    <%= link_to 'Denise Spiessens', 'https://twitter.com/speezyD' %>
  </p>
<% end %>
