.half_col.left_float
  = render partial: "blocks/home/events" if @events.any?
  = render partial: "blocks/home/news" if @posts.any?

.half_col.right_float
  = render partial: "blocks/home/bandcamp"
  = render partial: "blocks/home/mailing_list"
  = render partial: "blocks/home/private_performances"
