<%= pjax_layout do %>
  <h2>Electronic Press Kit</h2>

  <p>
    <%= link_to(fa_icon('download'), "/electronic_press_kit/Grace_Hrabi_Electronic_Press_Kit.zip") %>
    <%= link_to("Download All", "/electronic_press_kit/Grace_Hrabi_Electronic_Press_Kit.zip") %>
    <br>
    Full electronic press kit (.zip) includes all the following resources:
  </p>

  <p>
    <%= link_to_download_with_icon "/electronic_press_kit/Grace_Hrabi_Bios.pdf" %> -
    Biography (.pdf)
    <br>
    <%= link_to_download_with_icon "/electronic_press_kit/Grace_Hrabi_One_Sheet.pdf" %> -
    One Sheet (.pdf)
    <br>
    <%= link_to_download_with_icon "/electronic_press_kit/Grace_Hrabi_Press_Quotes.pdf" %> -
    Press Quotes (.pdf)
    <br>
    <%= link_to_download_with_icon "/electronic_press_kit/Grace_Hrabi_Afraid_of_Heights.jpg" %> -
    Afraid of Heights album art (.jpg)
    <br>
    <% (1..4).each do |index| %>
      <%= link_to_download_with_icon "/electronic_press_kit/Grace_Hrabi_Promo_Photo#{ index }.jpg" %> -
      Promo Photo <%= index %> (.jpg)
      <br>
    <% end %>
  </p>

  <div class="gallery">
    <div class="gallery-row">
      <%= link_to image_tag("/electronic_press_kit/Grace_Hrabi_Afraid_of_Heights_thumb.jpg"), "/electronic_press_kit/Grace_Hrabi_Afraid_of_Heights.jpg", class: 'image-thumb' %>
      <% (1..4).each do |index| %>
        <%= link_to image_tag("/electronic_press_kit/Grace_Hrabi_Promo_Photo#{ index }_thumb.jpg"), "/electronic_press_kit/Grace_Hrabi_Promo_Photo#{ index }.jpg", class: 'image-thumb' %>
      <% end %>
    </div>
  </div>
<% end %>
