.post
  %h1 All Emails
  %h3 &nbsp;

  = text_area_tag :emails, @emails.join(", "), readonly: true, rows: 4, style: "width: 100%"

  %br
  %br
    
  %p
    List has
    = @emails.size
    email addresses and was last updated on
    = @date ? @date.to_s(:event_with_time) : "never"

.post
  %h1 Add Email
  %h3 &nbsp;
  
  %p Manually add one or more emails, separated by commas or white space:
  %br
  
  = form_tag url: admin_contacts_path do |f|
    = text_area_tag :emails, nil, rows: 4, style: "width: 100%"
    %p= submit_tag "Save"

%a{name: "search"}
.post
  %h1
    Contact List Emails
    - if params[:search].present?
      (Filtered by '#{params[:search]}')
  %h3 &nbsp;
  
  %p
    = form_tag admin_contacts_path(anchor: "search"), method: :get do
      = text_field_tag :search, params[:search]
      = submit_tag "Search"
  
  = collection_index @contacts, ["Email", "Modified Date", "Enabled?", "Actions"] do |contact|
    %tr{class: row_class}
      %td= contact.email
      %td= contact.updated_at.to_s(:news_without_time)
      %td{style: "width: 70px"}= boolean_image(contact.enabled)
      %td{style: "width: 70px"}
        = form_for [:admin, contact] do |f|
          = f.hidden_field :disabled, value: !contact.disabled
          - if contact.enabled
            = f.submit "Remove", data: {confirm: "Are you sure you want to remove this email from the mailing list?"}
          - else
            = f.submit "Reenable"
