= form_for [:admin, @post] do |f|
  = error_messages(@post)
  
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :body
    = f.text_area :body

  - if f.object.permalink
    .field
      = f.label :permalink
      %span.bold= f.object.permalink

  .actions
    %label Actions
    = f.submit 'Save'
    = f.submit 'Preview'
