%h1 Blog

= collection_index @posts, ["Title", "Body", "Created At", "Actions"] do |post|
  %tr{:class => cycle("odd", "even")}
    %td= post.title
    %td= post.body
    %td= post.created_at
    %td
      = edit_entity_image [:edit, :admin, post]
      = destroy_entity_image [:admin, post]

%br

= link_to 'New Blog Post', new_admin_post_path
