%p#notice= notice

%p
  %b Title:
  = @post.title
%p
  %b Body:
  = @post.body
%p
  %b Created at:
  = @post.created_at

= link_to 'Edit', edit_admin_post_path(@post)
\|
= link_to 'Back', admin_posts_path
