= form_for [:admin, @track], :url => admin_tracks_path, :html => { :multipart => true } do |f|
  = error_messages(@track)

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :recorded_at
    = f.date_select :recorded_at
  - if f.object.sort_order
    .field
      = f.label :sort_order
      = f.object.sort_order
  .field
    = f.label :active
    = f.check_box :active
  .field
    = f.label :mp3, "Audio File"
    = f.file_field :mp3
    

  .actions
    = f.submit 'Save'
