%h1 Media Player Tracks

%table
  %tr
    %th Title
    %th Recorded at
    %th Description
    %th Sort order
    %th Active
    %th Actions

  - @tracks.each do |track|
    %tr
      %td= track.title
      %td= track.recorded_at
      %td= track.description
      %td= track.sort_order
      %td= track.active
      %td
        = link_to 'Show', track
        = link_to 'Edit', edit_admin_track_path(track)
        = link_to 'Destroy', track, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Track', new_admin_track_path
