.post
  %h1 Image Gallery
  %h3 &nbsp;
  .center
    .gallery_header.left_float
      = link_to image_tag("gallery1.png", :alt => SITE_NAME), "/galleries/candid"
      %p= link_to Image::GALLERIES[:candid], "/galleries/candid"
    .gallery_header.right_float
      = link_to image_tag("gallery3.png", :alt => SITE_NAME), "/galleries/performance"
      %p= link_to Image::GALLERIES[:performance], "/galleries/performance"
    .gallery_header.clear
      = link_to image_tag("gallery2.png", :alt => SITE_NAME), "/galleries/being_a_butt"
      %p= link_to Image::GALLERIES[:being_a_butt], "/galleries/being_a_butt"
