.post
  %h1= @gallery_name
  %h3 &nbsp;

  - @images.each do |image|
    = link_to image_tag(image.thumb, :class => "thumb", :alt => (image.label.blank? ? SITE_NAME : "#{SITE_NAME} - #{image.label}")), image.full

  .gallery_back= link_to "Back to all galleries", "/galleries"
