.bar
  %ul
    %li= link_to "News", news_path
    %li= link_to "Shows", events_path
    %li= link_to "Gallery", galleries_path
    %li= link_to "Bio", bio_path
    %li= link_to "Contact", contact_path
    %li= link_to "Mailing List", mailing_list_index_path
    %li= link_to "Listen", listen_path

  .right_float
    %ul
      %li= link_to image_tag("facebook-32.png", alt: "Grace Hrabi on Facebook"), "https://www.facebook.com/GraceHrabiMusic", title: "Grace Hrabi on Facebook", style: "padding: 7px; margin: 0;"

      %li= link_to image_tag("twitter-32.png", alt: "Grace Hrabi on Twitter"), "https://twitter.com/GraceHrabi", title: "Grace Hrabi on Twitter", style: "padding: 7px; margin: 0;"

  .clear
