.phone
  = fa_icon 'phone'
  (613) 897-9876
  %br
  = obfuscated_mail_to(SITE_EMAIL, fa_icon('envelope'))
  = obfuscated_mail_to(SITE_EMAIL, "Grace Hrabi")
.newsletter
  Bleep blorp something about newsletter
  = form_tag mailing_list_index_path do
    = email_field_tag :email, nil, class: ''
    = submit_tag "Signup", class: 'button'
.backtotop
  = link_to fa_icon('long-arrow-up'), '#top'
  = link_to 'Back to Top', '#top'
