.phone
  = fa_icon 'phone'
  (613) 897-9876
  %br
  = obfuscated_mail_to(SITE_EMAIL, fa_icon('envelope'))
  = obfuscated_mail_to(SITE_EMAIL, "Grace Hrabi")
.newsletter Newsletter
.backtotop
  = link_to fa_icon('long-arrow-up'), '#top'
  = link_to 'Back to Top', '#top'
