%a{name: 'top'}
%h1= pjax_link_to 'Grace Hrabi', root_path

%ul.nav
  %li= pjax_link_to "News", news_path
  %li= pjax_link_to "Shows", events_path
  %li= pjax_link_to "Gallery", gallery_path
  %li= pjax_link_to "Bio", bio_path
%ul.socialmedia
  %li= link_to fa_icon('facebook'), "https://www.facebook.com/GraceHrabiMusic", title: "Grace Hrabi on Facebook"
  %li= link_to fa_icon('twitter'), "https://twitter.com/GraceHrabi", title: "Grace Hrabi on Twitter"
  %li= link_to fa_icon('rss'), "/rss.xml", title: "RSS"
