<section>
  <div class="wrapper">
    <%= render partial: 'shared/flashes' %>

    <div class="content">
      <%= yield %>
    </div>
  </div>
</section>
<section>
  <div class="quote">
    <p>"<%= current_testimonial.body %>"</p>
    <% if current_testimonial.name.present? || current_testimonial.title.present? %>
      <p class="author">
        <%= current_testimonial.name %><% if current_testimonial.name.present? && current_testimonial.title.present? %>,<% end %>
        <% if current_testimonial.title.present? %>
          <span class="author-title"><%= current_testimonial.title %></span>
        <% end %>
      </p>
    <% end %>
  </div>
</section>
<section class="take-note">
  <div class="wrapper">
    <h2 class="deco">Take Note</h2>
    <div class="news">
      <h3>News</h3>
      <ul>
        <li><a href="#">I'm here, Ottawa!</a><p class="date">March 5<sup>th</sup>, 2014</p></li>
        <li><a href="#">Valentine's Day &amp; I would LOVE to see you!</a><p class="date">February 10<sup>th</sup>, 2014</p></li>
        <li><a href="#">Ring in the New Year with Grace Hrabi &amp; Jesse Popeski</a><p class="date">December 12<sup>th</sup>, 2014</p></li>
      </ul>
    </div>
    <div class="shows">
      <h3>Upcoming Shows</h3>
      <ul>
        <li><a href="#">Vineyards in the Byward Market</a><p class="date">July 11<sup>th</sup>, 2014 - 8:00 PM</p></li>
        <li><a href="#">St. Norbert Farmer's Market</a><p class="date">July 12<sup>th</sup>, 2014 - 10:30 AM</p></li>
        <li><a href="#">St. Norbert Farmer's Market</a><p class="date">September 13<sup>th</sup>, 2014 - 10:30 AM</p></li>
      </ul>
    </div>
  </div>
</section>
