<section>
  <div class="wrapper">
    <div class="content">
      <%= render partial: 'shared/flashes' %>
      <%= yield %>
    </div>
  </div>
</section>

<% if footer %>
  <section>
    <div class="quote">
      <% if current_testimonial %>
        <p>"<%= current_testimonial.body %>"</p>
        <% if current_testimonial.name.present? || current_testimonial.title.present? %>
          <p class="author">
            <%= current_testimonial.name %><% if current_testimonial.name.present? && current_testimonial.title.present? %>,<% end %>
            <% if current_testimonial.title.present? %>
              <span class="author-title"><%= current_testimonial.title %></span>
            <% end %>
          </p>
        <% end %>
      <% end %>
    </div>
  </section>
  <section class="take-note">
    <div class="wrapper">
      <h2 class="deco">Take Note</h2>
      <div class="news">
        <h3>News</h3>
        <ul>
          <% recent_posts.each do |post| %>
            <li>
              <%= pjax_link_to post.title, news_path(post) %>
              <%= html_formatted_time post.created_at %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="shows">
        <h3>Upcoming Shows</h3>
        <ul>
          <% upcoming_events.each do |event| %>
            <li>
              <%= pjax_link_to event.title, event_path(event) %>
              <%= html_formatted_time event.starts_at %>
            </li>
          <% end %>
          <% if upcoming_events.blank? %>
            <li>More coming soon</li>
          <% end %>
        </ul>
      </div>
    </div>
  </section>
<% end %>
