!!!
%html
  %head
    %title= page_title

    = stylesheet_link_tag "stylesheet"

    = javascript_include_tag 'jquery/jquery-1.4.2.min'
    = javascript_include_tag :all, :cache => true

    = yield :js

    %link{:rel => "shortcut icon", :type => "image/x-icon", :href => "/favicon.ico"}

    = csrf_meta_tag

  %body
    #wrapper
      .box_full
        %p.listen= link_to "Listen", "/player", :target => Track.window_name
        .clear

      #header
        = image_tag "/images/header.jpg", :alt => "Grace Hrabi"
      #nav
        = render :partial => 'shared/nav'
        = render :partial => 'shared/admin_nav' if controller.current_user
      #content
        .minheight
        .main
          = render :partial => "shared/notice"
          = yield
        .minheight_clear
      #footer
        = image_tag "/images/footer.jpg", :alt => "Grace Hrabi"
        
      .box_full
        %p.credits
          &copy; #{Time.now.year}
          = obfuscated_mail_to SITE_EMAIL, "Grace Hrabi"
          and
          = obfuscated_mail_to ADMIN_EMAIL, "Kevin McPhillips"
        .clear
