!!!
%html
  %head
    %title= page_title
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>

    = auto_discovery_link_tag(:rss, '/rss.xml')

    = stylesheet_link_tag 'application'
    <link href='http://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>

    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    = javascript_include_tag 'application'
    = javascript_include_tag 'http://stratus.sc/stratus.js'
    = yield :js

    = csrf_meta_tag
    %meta{name: 'keywords', content: META[:keywords] || ""}
    %meta{name: 'description', content: META[:description] || ""}

    = render partial: "shared/analytics"

  %body
    - unless Rails.env.production?
      #development_notice
        = Rails.env.humanize
        Server
        %br
        = Digest::SHA1.hexdigest(Time.now.to_i.to_s)[0..15]

    .container
      .header= render partial: 'layouts/header'
      = render partial: 'shared/flashes'  # Broken with PJAX
      #pjax-body= yield
      .footer= render partial: 'layouts/footer'
    .audio-under
