!!!
%html
  %head
    %title= page_title

    = stylesheet_link_tag :all

    = javascript_include_tag 'jquery/jquery-1.4.2.min'
    = javascript_include_tag :all, :cache => true

    = csrf_meta_tag

  %body
    #wrapper
      .box_full
        %p.listen= link_to "Listen", "/player", :target => Track.window_name
        .clear

      #header
        = image_tag "/images/header.jpg", :alt => "Grace Hrabi"
      #nav
        = render :partial => 'shared/nav'
        = render :partial => 'shared/admin_nav' if controller.current_user
      #content
        .minheight
        .main
          = render :partial => "shared/flashes"
          = yield
        .minheight_clear
      #footer
        = image_tag "/images/footer.jpg", :alt => "Grace Hrabi"
        
      .box_full
        %p.credits
          &copy; #{Time.now.year}
          = link_to "Grace Hrabi", "#"
          and
          = link_to "Kevin McPhillips", "#"
        .clear
