!!!
%html
  %head
    %title= page_title

    = auto_discovery_link_tag(:rss, '/rss.xml')

    = stylesheet_link_tag 'application'

    = javascript_include_tag 'application'

    = yield :js

    %link{:rel => "shortcut icon", :type => "image/x-icon", :href => "/favicon.ico"}

    = csrf_meta_tag
    %meta{:name => "keywords", :content => META[:keywords] || ""}
    %meta{:name => "description", :content => META[:description] || ""}

    = render :partial => "shared/analytics"

  %body
    #wrapper
      .box_full &nbsp;

      #header
        = pjax_link_to image_tag("header.jpg", :alt => SITE_NAME), "/"
        - unless Rails.env.production?
          #development_notice
            = Rails.env.humanize
            Server
            %br
            = Digest::SHA1.hexdigest Time.now.to_i.to_s
      #nav
        = render :partial => '/nav'
        = render :partial => '/admin/nav' if user_signed_in?
      #content
        .minheight
        .main
          = render :partial => "shared/flashes"
          #pjax-body= yield
        .minheight_clear
      #footer
        = image_tag "footer.jpg", :alt => SITE_NAME

      .box_full.credits
        .left_float
          = link_to image_tag("icons/rss.png", :alt => "RSS"), "/rss.xml"
          = link_to "RSS", "/rss.xml"
          &nbsp;&nbsp;
          = link_to "Site source", "http://github.com/kmcphillips/gracehrabi.com"
        .right_float
          &copy; #{Time.now.year}
          = obfuscated_mail_to SITE_EMAIL, "Grace Hrabi"
          and
          = obfuscated_mail_to ADMIN_EMAIL, "Kevin McPhillips"

        .clear
