<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= page_title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= meta_from_settings %>

  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic|Roboto+Slab:400,300,100,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag :modernizr %>
  <%= javascript_include_tag 'application' %>
  <%= yield :js %>
  <%= csrf_meta_tag %>
  <%= render partial: "shared/analytics" %>
  <%= auto_discovery_link_tag(:rss, '/rss.xml') %>

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="icon" type="image/png" sizes="196x196" href="/favicon-196x196.png">
  <link rel="icon" type="image/png" sizes="160x160" href="/favicon-160x160.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">

  <link rel="image_src" href="http://gracehrabi.com/image_src.jpg">

  <meta property="og:image" content="http://gracehrabi.com/og_image.jpg" />
  <meta property="og:image:type" content="image/jpeg" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta property="og:title" content="Grace Hrabi" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://gracehrabi.com" />
  <meta property="og:description" content="<%= Settings.meta[:description] %>" />
</head>
<body>
  <header>
    <div class="wrapper">
      <%= pjax_link_to "Grace Hrabi", root_path, id: "logo", title: "Grace Hrabi" %>
      <nav>
        <ul>
          <li>
            <%= pjax_link_to "News", news_index_path %>
          </li>
          <li>
            <%= pjax_link_to "Shows", events_path %>
          </li>
          <li>
            <%= pjax_link_to "Mailing List", mailing_list_index_path %>
          </li>
          <li>
            <%= pjax_link_to "Gallery", gallery_path %>
          </li>
          <li>
            <%= pjax_link_to "Media", media_path %>
          </li>
          <li>
            <%= pjax_link_to "Music", music_path %>
          </li>
        </ul>
      </nav>
      <div class="callout">
        <%= link_to "Buy Now", Settings.shop_url, class: "button" %>
        <%= link_to "Listen Online", Settings.bandcamp_url, class: "button" %>
      </div>
    </div>
  </header>
  <section class="mid-bar">
    <div class="wrapper">
      <div class="bandcamp-player">
        <iframe style="border: 0; width: 460px; height: 45px; margin-top: -1px;" src="https://bandcamp.com/EmbeddedPlayer/album=210056649/size=small/bgcol=ffffff/linkcol=e99708/transparent=true/" seamless><a href="http://gracehrabi.bandcamp.com/album/afraid-of-heights">Afraid of Heights</a></iframe>
      </div>
      <div class="social">
        <ul class="fa-ul">
          <li>
            <%= link_to fa_icon('facebook-square'), Settings.facebook_url, title: "Grace Hrabi on Facebook" %>
          </li>
          <li>
            <%= link_to fa_icon('twitter-square'), Settings.twitter_url, title: "Grace Hrabi on Twitter" %>
          </li>
          <li>
            <%= link_to fa_icon('rss-square'), "/rss.xml", title: "RSS" %>
          </li>
          <li>
            <%= link_to fa_icon('soundcloud'), Settings.soundcloud_url, title: "Grace Hrabi on Soundcloud" %>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <div id="pjax-body">
    <%= yield %>
  </div>
  <div id="slidebox">
    <a class="close">
      <%= fa_icon('times') %>
    </a>
    <h2>Find Grace Online</h2>

    <a href="https://twitter.com/GraceHrabi" class="twitter-follow-button" data-show-count="false" data-size="">Follow @GraceHrabi</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0&appId=1432179167001171";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div class="fb-like" data-href="https://www.facebook.com/GraceHrabiMusic" data-width="164" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>

 </div>
  <footer>
    <div class="wrapper">
      <hr>
      <div>
        <h3>Join the mailing list</h3>
        <%= form_tag mailing_list_index_path, method: :post do %>
          <div class="field">
            <%= text_field_tag :email, params[:email] %>
            <%= submit_tag "Sign Up", class: "button" %>
          </div>
        <% end %>
      </div>
      <p>Copyright &copy; <%= Date.today.year %> Grace Hrabi. All rights reserved.</p>
    </div>
  </footer>
</body>
</html>
