!!!
%html
  %head
    %title= page_title

    = stylesheet_link_tag :all

    = javascript_include_tag 'jquery/jquery-1.4.2.min'
    = javascript_include_tag :all, :cache => true

    = csrf_meta_tag

  %body
    #wrapper
      #header
        %h1 Grace Hrabi

        %p.listen= link_to "Listen", "/player", :target => Track.window_name

        .clear

        = render :partial => 'shared/nav'
        = render :partial => 'shared/admin_nav' if controller.current_user
      #content
        .minheight
        = yield
        .minheight_clear
      #footer
        %p
          &copy; #{Time.now.year}
          Grace Hrabi
          and
          Kevin McPhillips
