<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= page_title %>
    </title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <%= auto_discovery_link_tag(:rss, '/rss.xml') %>
    <%= stylesheet_link_tag 'application' %>
    <link href='http://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="keywords" content="<%= META[:keywords] %>">
    <meta name="description" content="<%= META[:description] %>">
    <%= render partial: 'shared/facebook_meta' %>
    <%= javascript_include_tag 'application' %>
    <%= yield :js %>
    <%= csrf_meta_tag %>
    <%= render partial: "shared/analytics" %>
  </head>
  <body>
    <div id="spinner">Loading</div>
    <% unless Rails.env.production? %>
      <div id="development_notice">
        <%= Rails.env.humanize %>
        Server
        <br/>
        <%= Digest::SHA1.hexdigest(Time.now.to_i.to_s)[0..15] %>
      </div>
    <% end %>

    <div class="container">

      <div class="header">
        <a name="top"></a>
        <h1>
          <%= pjax_link_to 'Grace Hrabi', root_path %>
        </h1>
        <ul class="nav">
          <li>
            <%= pjax_link_to "News", news_index_path %>
          </li>
          <li>
            <%= pjax_link_to "Shows", events_path %>
          </li>
          <li>
            <%= pjax_link_to "Gallery", gallery_path %>
          </li>
          <li>
            <%= pjax_link_to "About", about_path %>
          </li>
          <li>
            <%= pjax_link_to "Music", music_path %>
          </li>
        </ul>
        <ul class="socialmedia">
          <li>
            <%= link_to fa_icon('music'), "https://soundcloud.com/grace-hrabi/", title: "Grace Hrabi on Soundcloud" %>
          </li>
          <li>
            <%= link_to fa_icon('facebook'), "https://www.facebook.com/GraceHrabiMusic", title: "Grace Hrabi on Facebook" %>
          </li>
          <li>
            <%= link_to fa_icon('twitter'), "https://twitter.com/GraceHrabi", title: "Grace Hrabi on Twitter" %>
          </li>
          <li>
            <%= link_to fa_icon('rss'), "/rss.xml", title: "RSS" %>
          </li>
        </ul>
      </div>

      <%= render partial: 'shared/flashes' %>

      <div id="pjax-body">
        <%= yield %>
      </div>

      <div class="footer">
        <div class="phone">
          <%= fa_icon 'phone' %>
          (613) 897-9876
          <br/>
          <%= obfuscated_mail_to(SITE_EMAIL, fa_icon('envelope')) %>
          <%= obfuscated_mail_to(SITE_EMAIL, "Grace Hrabi") %>
        </div>
        <div class="newsletter">
          Bleep blorp something about newsletter
          <%= form_tag mailing_list_index_path do %>
            <%= email_field_tag :email, nil, class: '' %>
            <%= submit_tag "Signup", class: 'button' %>
          <% end %>
        </div>
        <div class="backtotop">
          <%= link_to fa_icon('long-arrow-up'), '#top' %>
          <%= link_to 'Back to Top', '#top' %>
        </div>
      </div>
    </div>
  </body>
</html>
